name: JMeter Load Test Pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write
jobs:
  loadtest:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout Repository
        uses: actions/checkout@v4

      # Set up Java
      - name: Set up Java (Temurin 17)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      # Install JMeter 5.6.3
      - name: Install JMeter 5.6.3
        run: |
          sudo apt update
          sudo apt install -y wget tar
          wget https://archive.apache.org/dist/jmeter/binaries/apache-jmeter-5.6.3.tgz
          tar -xzf apache-jmeter-5.6.3.tgz
          echo "export PATH=$PATH:$(pwd)/apache-jmeter-5.6.3/bin" >> $GITHUB_ENV

      # Clone httpbin repo from GitHub
      - name: Clone httpbin Repository
        run: |
          git clone https://github.com/postmanlabs/httpbin.git
          cd httpbin
          ls

      # Build httpbin Docker Image from cloned repo
      - name: Build httpbin Docker Image
        run: |
          cd httpbin
          docker build -t httpbin-app .

      # Run httpbin Container on port 8080
      - name: Run httpbin Container
        run: |
          docker run -d -p 8080:80 --name httpbin-container httpbin-app
          sleep 60

      # Run JMeter Load Test (NON-GUI mode)
      - name: Execute JMeter Load Test
        run: |
          apache-jmeter-5.6.3/bin/jmeter \
            -n \
            -t Jmeter_scripts/httpbin_loadtest.jmx \
            -l jtl_files/results_$(date +%Y%m%d_%H%M%S).jtl \
            -e \
            -o HTML_Reports/report_$(date +%Y%m%d_%H%M%S)

      # Commit & Push Results
      - name: Commit and Push Results
        run: |
          git config --global user.email "k.pradeepreddy0604@gmail.com"
          git config --global user.name "pradeepreddy0604"
          git add jtl_files HTML_Reports
          git commit -m "Automated JMeter Load Test Results - $(date)" || echo "No new files to commit"
          git push
